* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none !important;
}

a:hover {
  color: pink !important;
  cursor: pointer;
}

a:active {
  color: pink !important;
}

.contact-button {
  width: 100%;
}

.contact-button:hover {
  border-color: pink !important;
  color: rgba(0, 0, 0, 0.55) !important;
  background-color: pink !important;
}

.my-10 {
  margin: 6rem auto !important;
}

.thumbnail {
  padding: 0 0.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  padding-top: 10px !important;
  padding-bottom: 12px !important;
}

.thumbnail-parent {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.slick-center {
  transform: scale(1.05);
  box-shadow: 0 8px 6px -6px black !important;
}

@media (max-width: 768px) {
  .center-site-link {
    margin: 0 1rem;
  }
}
